*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    }
        .container{
            width: 1540px;
            height: 700px;
            background: aliceblue;
            display: flex ;
            align-items: center;
            justify-items: center;
            justify-content: center ;
        }
    
        .calculator{
            background: rgb(52, 52, 52);
            padding: 20px;
            border-radius: 10px;
        }
        
    
        .calculator form input{
            border: 0;
            outline: 0;
            width: 60px;
            height: 60px;
            border-radius: 10px;
            box-shadow: -8px -8px 15px rgba(255 , 255 , 255 , 0.1),5px 5px 15px rgba(0 , 0 , 0, 0.2);
            background: transparent;
            font-size: 20px;
            color: aliceblue;
            cursor: pointer;
            margin: 10px;
        }
    
    
        form.display input{
            text-align:right ;
            flex: 1;
            font-size: 5px;
            box-shadow: none;
        }
    
        form input.equal {
           width: 145px;
        }
        form input.mod{
            width: 320px;
            background-color: aliceblue;
            color: black;
        }
        form input.operator{
             color: rgb(0, 0, 0);
             background-color: rgb(226, 162, 0);
             font-size: large;
        }